<%= form_for(junk) do |f| %>
  <% if junk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(junk.errors.count, "error") %> prohibited this junk from being saved:</h2>

      <ul>
      <% junk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
